css
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;800&display=swap');

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}


.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}
.header {
    background-color: rgb(161, 230, 235);
    min-height: 50%;
}
.container {
    padding-left: 48px;
    padding-top: 48px;
}

.title {
    font-family: "Work Sans", sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 800;
    color: rgb(201, 130, 255);
}

.text {
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: rgb(0, 0, 0);
}

#logo-big {
    max-width: 100%;
    height: auto;
}

.footer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #f0f0f0;
    min-height: 50%;
}
/* Media query para dispositivos móveis */
@media (max-width: 767px) {
    .title {
        font-size: 48px;
    }

    .text {
        font-size: 48px;
    }
@media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
        .footer {
            padding-bottom: constant(safe-area-inset-bottom);
            padding-bottom: env(safe-area-inset-bottom);
        }
    }